<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{./css/add_edit.css}">
    <title>[(${title})]</title>
</head>

<body>
    <h1>[(${title})]</h1>
    <form th:action="@{/add}" method="POST" th:object="${product}">
        <table>
            <tbody>
                <input type="text" th:field="*{id}" style="display: none;">
                <tr>
                    <td><label for="name">Name: </label></td>
                    <td><input type="text" name="name" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td><label for="brand">Brand: </label></td>
                    <td><input type="text" name="brand" th:field="*{brand}"></td>
                </tr>
                <tr>
                    <td><label for="made-in">Made in: </label></td>
                    <td><input type="text" name="made-in" th:field="*{madeIn}"></td>
                </tr>
                <tr>
                    <td><label for="price">Price: </label></td>
                    <td><input type="number" name="price" th:field="*{price}" min="0" step=".01"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td> 
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>