<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{nav_template.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #content {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
        #title {
            text-align: center;
        }
        .form-control {
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div id="title">
        <h1>Sign Up</h1>
        <p>Create your account</p>
    </div>
        <form th:action="@{account/create}" method="post" th:object=${user}>
                <input type="text" class="form-control" id="fullName" placeholder="Full Name" th:field="*{fullName}">
                <input type="email" class="form-control" id="email" placeholder="Email Address" th:field="*{email}" required>
                <!-- <div class="invalid-feedback" th:if="">
                    Please provide a valid city.
                </div> -->
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                <button type="submit" class="btn btn-primary form-control">Submit</button>

        </form>
    </div>
</body>

</html>