<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{nav_template.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="@{/login}" method="post">
                <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
                <input type="submit" class="btn btn-primary form-control" value="Submit">
        </form>
    </div>
</body>
</html>